<h1> Payment amount Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="Principal">
      <input type="text" id="Principal" name="present_value" placeholder="Pincipal">
    </label>
    <label for="APR">
      <input type="text" name="apr" id="APR" placeholder="APR">
    </label>
    <label for="Number of years">
      <input type="text" name="number_of_years" id="Number of years" placeholder="Number of years">
    </label>
  </div>
  <button name="Calculate monthly payment" type="submit">Calculate monthly paymentt</button>
</form>
<!-- <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM> -->
" 
