<h1>Payment amount Calculation</h1>
<div>
  <h3>
    Number
  </h3>
  <p>
    <%= @present_value %> = present value
  </p>
  <p>
    <%= @basis_points %> basis points
  </p>
  <p>
    <%= @number_of_years %> years
  </p>
  <h3>
    Payment
  </h3>
  <p>
    <%= @payment%>
  </p>
</div>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
