<h1> A <%= @number_of_years%> year loan of $<%= @present_value%> with an annual interest rate of <%= @basis_points/100%>%, requires a monthly payment of $<%= @payment_flex %> </h1>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
