<h1> Payment amount Calculation</h1>

<form action="/payment/results">
  <div>
    <label>
      <input type="text" name="present_value" placeholder="Pincipal">
    </label>
    <label>
      <input type="text" name="apr" placeholder="APR">
    </label>
    <label>
      <input type="text" name="number_of_years" placeholder="Number of years">
    </label>
  </div>
  <button> Get Payment Amount</button>
</form>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
