<h1> Payment amount Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="present_value">
      <input type="text" id="present_value" name="present_value" placeholder="Pincipal">
    </label>
    <label for="apr">
      <input type="text" name="apr" id="apr" placeholder="APR">
    </label>
    <label for="number_of_years">
      <input type="text" name="number_of_years" id="number_of_years" placeholder="Number of years">
    </label>
  </div>
  <button type="submit"> Get Payment Amount</button>
</form>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
