<h1> Payment amount Calculation</h1>

<form action="/random/results">
  <div>
    <label for="Minimum">
      Enter min
    </label>
    <input type="text" id="Minimum" name="min" placeholder="Min">
    <label for="Maximum">
      Enter max
    </label>
    <input type="text" name="max" id="Maximum" placeholder="mAX">
  </div>
  <button type="submit" >Pick random number</button>
</form>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
