<h1> Square Root Calculation </h1>

<form action="/square_root/results">
  <div>
    <label for="user_number">
      Enter a number
    </label>
    <input type="text" name="user_number" id="user_number">
  </div>
  <button> Calculate square root</button>
</form>

<!-- <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM> -->
